{% extends 'base.html.twig' %}

{% block title %}Netfleet{% endblock %}

{% block body %}
<div>
    <h1>Welcome to {{ controller_name }}!</h1>
    <p>(La seule page web du site)</p>
</div>
{% endblock %}
